body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height:100vh;
    font-family: 'Ubuntu', sans-serif;
}

.header{
    height: 72px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    background-color: darkmagenta;
    color: white;
    font-weight: 900;
}

.middle {
    display: flex;
    flex: 1;
}

.sidebar{
    flex-shrink: 0;
    width: 300px;
    padding: 16px;
    background-color:royalblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 16px;
}

a {
    font-size: 24px;
    color: white;
    text-decoration: none;
}
.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen, .container {
    width: 75%;

    display: flex;
    border: 1px solid black;
    border-radius: 5px;

}
.screen {  
    background-color: grey;
    justify-content: right;
    align-items: center;
    height: 10%;
    font-size: 50px;
    text-indent: 20px;
    color: white;
}
.container {
    flex-wrap: wrap;
    background-color: black;
    height: 50%;
}

.btn {
    flex: 0 0 25%;
    width: 50%;
    display: flex;
    justify-content: center;
}

button {
    width: 50%;
    border-radius: 50%;
    margin: 2px;
    border: 1px solid;
    color: white;
    font-size: 18px;
}

.operator {
    background-color: orange;
    border: none;
}

.numbers {
    background-color:rgb(51, 48, 48) ;
    border: none;
    
}

.top-btn {
    background-color: rgb(176, 174, 174);
    color: black;
}
.bigger-btn {
    flex-grow: 1;
}

.bigger-btn > button {
    width: 130px;
    border-radius: 25px;
}

.footer {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(182, 185, 188);
    font-style: italic;
}